[project]
name = "dbos"
dynamic = ["version"]
description = "Ultra-lightweight durable execution in Python"
authors = [
    {name = "DBOS, Inc.", email = "contact@dbos.dev"},
]
dependencies = [
    "pyyaml>=6.0.2",
    "jsonschema>=4.23.0",
    "alembic>=1.13.2",
    "psycopg2-binary>=2.9.9",
    "typing-extensions>=4.12.2; python_version < \"3.10\"",
    "typer>=0.12.3",
    "jsonpickle>=3.2.2",
    "opentelemetry-api>=1.26.0",
    "opentelemetry-sdk>=1.26.0",
    "opentelemetry-exporter-otlp-proto-http>=1.26.0",
    "python-dateutil>=2.9.0.post0",
    "fastapi[standard]>=0.112.1",
    "psutil>=6.0.0",
    "tomlkit>=0.13.2",
]
requires-python = ">=3.9"
readme = "README.md"
license = {text = "MIT"}

[project.scripts]
dbos = "dbos.cli:app"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.version]
source = "scm"
version_format = "version:format_version"

[tool.pdm.dev-dependencies]
dev = [
    "pytest>=8.3.2",
    "mypy>=1.11.1",
    "pytest-mock>=3.14.0",
    "types-PyYAML>=6.0.12.20240808",
    "types-jsonschema>=4.23.0.20240813",
    "black>=24.8.0",
    "pre-commit>=3.8.0",
    "isort>=5.13.2",
    "types-psutil>=6.0.0.20240621",
    "requests>=2.32.3",
    "types-requests>=2.32.0.20240712",
    "httpx>=0.27.0",
    "types-psycopg2>=2.9.21.20240417",
    "pytz>=2024.1",
    "pdm>=2.18.0",
    "pdm-backend>=2.3.3",
    "GitPython>=3.1.43",
    "flask>=3.0.3",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
filter_files = true
atomic = true

[tool.mypy]
strict = true

[tool.pytest.ini_options]
addopts = "-s"
log_cli_format = "%(asctime)s [%(levelname)8s] (%(name)s:%(filename)s:%(lineno)s) %(message)s"
log_cli_level = "INFO"
log_cli = true
