[project]
name = "dbos_transact"
version = "0.1.0"
description = "A Python framework for backends that scale"
authors = [
    {name = "DBOS, Inc.", email = "contact@dbos.dev"},
]
dependencies = [
    "pyyaml>=6.0.1",
    "jsonschema>=4.23.0",
    "alembic>=1.13.2",
    "psycopg2-binary>=2.9.9",
    "typing-extensions>=4.12.2; python_version < '3.10'",
    "typer>=0.12.3",
    "jsonpickle>=3.2.2",
    "opentelemetry-api>=1.26.0",
    "opentelemetry-sdk>=1.26.0",
    "opentelemetry-exporter-otlp-proto-http>=1.26.0",
]
requires-python = ">=3.9"
readme = "README.md"
license = {text = "MIT"}

[project.scripts]
dbos = "dbos_transact.cli.cli:app"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "pytest>=8.2.2",
    "mypy>=1.11.0",
    "pytest-mock>=3.14.0",
    "types-PyYAML>=6.0.12.20240311",
    "types-jsonschema>=4.23.0.20240712",
    "black>=24.4.2",
    "pre-commit>=3.7.1",
    "isort>=5.13.2",
    "psutil>=6.0.0",
    "types-psutil>=6.0.0.20240621",
    "requests>=2.32.3",
    "types-requests>=2.32.0.20240712",
    "fastapi>=0.112.0",
    "httpx>=0.27.0",
    "types-psycopg2>=2.9.21.20240417",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
filter_files = true
atomic = true

[tool.mypy]
strict = true

[tool.pytest.ini_options]
addopts = "-s"
log_cli_format = "%(asctime)s [%(levelname)8s] (%(name)s:%(filename)s:%(lineno)s) %(message)s"
log_cli_level = "INFO"
log_cli = true
